/*globale Einstellung für alle Unterelemente*/
*{
    font-family: 'Exo 2';
    box-sizing: border-box;   
}

/*Einstellung Textselection*/
::selection{
    color: lightsalmon;
    background-color:#323232;
}

::-moz-selection{
    color: lightsalmon;
    background-color:#323232;
}
/*#body {
    padding-top:285px;
    padding-bottom:80px;
}*/
.body{
    font-size: 100%;
    background-color: #f2EBE2;
    margin: 0;
    width: 100%;
}

.Karte{
    margin:0;
    /*padding:0;*/
    font-size:100%;
    background-color:rgb(36, 36, 38);
    overflow: auto;
}

.header{
    background-image: url(../image/berlin.svg);
    background-position: center ;
    background-size:contain;
    background-repeat: repeat;
    background-origin:border-box;
    background-break:continuous;
    background-color:#242426;
    width: 100%;
    overflow: hidden;
    border:0px;
    margin:0 auto;
    padding:0px;
    position:fixed;
    top:0;
    z-index: 800;
}

/*Für die Karten html -> im header-tag die id="karte" angeben*/
.header#karte{
  	background-image: url(../image/berlin3.svg);
    background-position:center;
    background-size:contain;
    background-repeat:repeat;
    background-origin:border-box;
    background-break:continuous;
    background-color:#242426;
    width: 100%;
	overflow: hidden;
    border-color:#363638;
    border:0px;
    margin:0px;
    padding:0px;
    position:relative;
}

header h1{
    font-family:'Cinzel', serif;
    color:#fff;
    font-variant:small-caps;
    font-weight: 500;
    font-size-adjust: initial;
    font-size: 2.25em;
    letter-spacing: 0.1em;
    text-align: center;
    vertical-align:center;
    position:relative;
}

header h1#Kartentitel{
    margin-bottom:0;
    margin-top: 0;
}

a {
    text-decoration:none;
    color:darkslategray;
    outline-style: 0 !important;
}
a:hover{
    color: salmon;
}

/*Einstellung Navigationsmenü*/
nav {
    text-align: center;
    border:none;
    font-size: 1.25em;
    font-weight: 500;
    font-family: 'Exo 2';
}
nav ul.navbar {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav > ul.navbar > li {
    display: inline-block;
}
nav a {
    display: block; 
    /*padding: 5px 15px;*/
    margin: 5px 15px;
    color: #fff;
    text-decoration: none;
}
nav li:hover > ul {
    display: block;
}
nav > ul.navbar ul {
    display: none;
    position: absolute;
}
nav > ul.navbar ul.navbar > li {
    border-bottom: none;
    border-top: none;
}
nav > ul.navbar li a:hover {
    color: salmon;
}
ul.navbar li.icon{
     display:none;
 }
.underline{
    border-bottom: 0.5px solid;
    padding-bottom: 1px;
    /*text-decoration: underline;
    text-decoration-style:dotted;*/
/*  text-decoration-line: underline;
    -moz-text-decoration-line: underline;
    -webkit-text-decoration-line: underline;
    text-underline-position: below;
    -webkit-text-underline-position:below;
    -moz-text-underline-position:below;*/
}

/*Einstellungen Seiteninhalt*/
.content{
    /*margin-left:25%;
    margin-right:25%;*/
    width: 100%;
    margin:0 auto;
    text-align:center;
    word-wrap: break-word;
    line-height: 150%;
	position:relative;    
}
.content ul{
	list-style: none;
}
.Einleitungssatz{
	line-height: 150%;
	color:#9F3333;
}

#Einleitungslink{
	color: #690e0e;
}
#Einleitungslink:hover{
	color: salmon;
}
.links{
 	width: 50%;
	/*height: 60%;*/
	margin:0 auto;
	/*padding-bottom:-3%;
    position:absolute;
	overflow-y: auto;*/
}

.linksAbsatz{
	/*margin-left:30%;
    margin-right:25%;*/
    width: 100%;
    margin: 0 auto;
    word-wrap: break-word;
    line-height: 150%;
    position:relative;
	text-align:left;
}

.linksAbsatz p {
	margin-left:2%;	
}
.linksAbsatz a {
	color: #9F3333;	
}
.linksAbsatz a:hover {
	color: salmon;	
}

.Zitatende{
    text-align: right;
}

abbr{
	cursor: help;
}
div p ul{
    text-align:left;
    margin-left:33%;
    margin-right:15%;
}

/*Einstellung Footer*/
footer{
    color:#ffffff;
    text-align:center;
    font-variant:small-caps;
    vertical-align: middle;
    background-color:#242426;
    position:fixed;
    display: inline-block;
    bottom:0;
    left:0;
    width:100%;
    padding-top:0.8%;
    font-family: inherit;
}

footer.footermap{
    position:relative;
}
footer.footerlinks{
    position:relative;
}

footer a {
	color:silver;
	text-decoration: none;
}

footer a:hover{
	color:salmon;
}

@media screen and (max-width:387px){
   a{
       text-decoration:underline;
   } 
   footer{
       font-size:0.8em;
   }
   footer a,.leaflet-control-attribution a{
       text-decoration:underline;
   }
   
   abbr{
       text-decoration:none;
   }
   .links{
       width:100%;
       padding-right:10px;
       padding-left:10px;
   }
   .header, .header#karte{
       background-repeat:no-repeat;
       background-image: url(../image/berlin.svg);
   }
   .responsive{
       display: none;
   }
   header h1{
     font-size:0.8em;
     letter-spacing:normal; 
   }
   .Einleitungssatz{
     font-size: 1.2em;
   }
   /*nav{
       font-size:1em;
   } */
   nav > ul.navbar > li{
       display:none;
   }
   ul.navbar li.icon{
       display:inline-block;
   }
   nav > ul.navbar.navResponsive{
       position:relative;
   }
   nav > ul.navbar.navResponsive li.icon{
       position:relative;
       right:0;
       top:0;
   }
   nav > ul.navbar.navResponsive li{
       float:none;
       display:inline;
   }
   nav > ul.navbar.navResponsive li a{
       display:block;
       text-align:center;
       
   }
   .underline{
       border-bottom: 0px;
       padding-bottom: 0px;
       text-decoration: underline;
       text-decoration-style: dotted;
       -webkit-text-decoration-style: dotted;
   }
}

@media screen and (min-width:388px) and (max-width:480px ){
   a{
       text-decoration:underline;
   } 
   footer{
       font-size:0.8em;
   }
   footer a,.leaflet-control-attribution a{
       text-decoration:underline;
   }
   
   abbr{
       text-decoration:none;
   }
   .links{
       width:100%;
       padding-right:10px;
       padding-left:10px;
   }
   .header, .header#karte{
       background-repeat:no-repeat;
       background-image: url(../image/berlin.svg);
   }
   .responsive{
       display: none;
   }
   header h1{
     font-size:1.0em;  
   }
   .Einleitungssatz{
     font-size: 1.2em;
   }
   /*nav{
       font-size:1em;
   } */
   nav > ul.navbar > li{
       display:none;
   }
   ul.navbar li.icon{
       display:inline-block;
   }
   nav > ul.navbar.navResponsive{
       position:relative;
   }
   nav > ul.navbar.navResponsive li.icon{
       position:relative;
       right:0;
       top:0;
   }
   nav > ul.navbar.navResponsive li{
       float:none;
       display:inline;
   }
   nav > ul.navbar.navResponsive li a{
       display:block;
       text-align:center;
       
   }
   .underline{
       border-bottom: 0px;
       padding-bottom: 0px;
       text-decoration: underline;
       text-decoration-style: dotted;
       -webkit-text-decoration-style: dotted;
   }   
}
@media screen and (min-width:481px) and (max-width:767px ){
   a{
       text-decoration:underline;
   } 
   footer{
       font-size:0.8em;
   }
   footer a,.leaflet-control-attribution a{
       text-decoration:underline;
   }
   
   abbr{
       text-decoration:none;
   }
   .links{
       width:100%;
       padding-right:25px;
       padding-left:25px;
   }
   .header, .header#karte{
       background-repeat:no-repeat;
       background-image: url(../image/berlin.svg);
   }
   .responsive{
       display: none;
   }
   header h1{
     font-size:1.2em;  
   }
   .Einleitungssatz{
     font-size: 1.2em;
   }
   /*nav{
       font-size:1em;
   } */
   nav > ul.navbar > li{
       display:none;
   }
   ul.navbar li.icon{
       display:inline-block;
   }
   nav > ul.navbar.navResponsive{
       position:relative;
   }
   nav > ul.navbar.navResponsive li.icon{
       position:relative;
       right:0;
       top:0;
   }
   nav > ul.navbar.navResponsive li{
       float:none;
       display:inline;
   }
   nav > ul.navbar.navResponsive li a{
       display:block;
       text-align:center;
       
   }
   .underline{
       border-bottom: 0px;
       padding-bottom: 0px;
       text-decoration: underline;
       text-decoration-style: dotted;
       -webkit-text-decoration-style: dotted;
   }
}
@media screen and (min-width:768px) and (max-width:1024px ){
   a{
       text-decoration:underline;
   } 
   footer{
       font-size:0.8em;
   }
   footer a,.leaflet-control-attribution a{
       text-decoration:underline;
   }
   
   abbr{
       text-decoration:none;
   }
   .links{
       width:100%;
       padding-right:25px;
       padding-left:25px;
   }
   .header, .header#karte{
       background-repeat:no-repeat;
       background-image: url(../image/berlin.svg);
   }
   .responsive{
       display: none;
   } 
   header h1{
     font-size:1.8em;  
   }
   
}
@media screen and (min-width:1025px) and (max-width:1280px ){
   a{
       text-decoration:underline;
   } 
   footer{
       font-size:0.8em;
   }
   footer a,.leaflet-control-attribution a{
       text-decoration:underline;
   }
   
   abbr{
       text-decoration:none;
   }
   .links{
       width:80%;
       padding-right:25px;
       padding-left:25px;
   } 
   .header{
       background-repeat:no-repeat;
       background-image: url(../image/berlin.svg);
   } 
}
